h1{
color:blue;
text-align:center;


}
table {
border:1px solid black;
margin:10px;
color:blue;
border-collapse:collapse;


}


#v1

{ color:orange;}
td,th{
border:1px solid black;padding:5px;
}
}
#V0{

margin:5px;
padding:10px;
align:center;
}

#v2{

}
